canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  top: 0;
  left: 0;
  position: fixed;
  color: white;
  z-index: 99;
}

:root {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}
